.carousel-img{
    height: 400px;
    object-fit: cover;
}

.background-card-section{
    background-color: rgb(141, 135, 135);
}

.card-heading{
    color: orange;
}

.card-text{
    color: #f1f1f1;
}


a{
    cursor: pointer;
}

a:hover{
    transform: scale(1.10);
    
    

}